<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LiteNote - Lighter than air!</title>
        <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap CDN -->
        <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link href="/stylesheets/styles.css" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
          <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">LiteNote</a>

            <!--<div class="navbar-nav">-->
            <!--  <a class="nav-item nav-link" href="#toTop">To top</a>-->
            <!--</div>-->

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <% if(!currentUser) { %>
                  <form class="form-inline">
                    <button type="button" class="btn btn-outline-primary my-2 my-sm-0" id="login-btn" data-toggle="modal" data-target="#login-modal"><i class="fa fa-sign-in"></i> Login</button>
                    <button type="button" class="btn btn-secondary my-2 my-sm-0" id="register-btn" data-toggle="modal" data-target="#register-modal"><i class="fa fa-id-card-o"></i> Register</button>
                  </form>
                <% } else { %>
                  <span class="navbar-text">Signed in as <%= currentUser.username %></span>
                  <div class="dropdown form-inline">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      More
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/notes">Home</a>
                      <a class="dropdown-item" id="archive-vault" href="/notes/archive">Archive</a>
                      <div class="dropdown-divider"></div>
                      <form class="form-inline" action="/logout" method="GET">
                        <button type="submit" class="btn btn-secondary btn-sm my-2 my-sm-0" id="logout-btn"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button>
                      </form>
                    </div>
                  </div>
                <% } %>
              </ul>
            </div>
          </div>
        </nav>

        <!-- Login Modal -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Login Form -->
                <form action="/login" method="POST" id="login-form">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="username" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="password" required>
                    </div>
                    <a href="/forgot">Forgot password?</a>
                    <button type="submit" class="btn btn-primary pull-right" id="modal-login-btn">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Register Modal -->
        <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Register a LiteNote account!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Register Form -->
                <form action="/register" method="POST" id="new-user-form">
                    <div class="form-group">
                        <label for="email" data-toggle="tooltip" data-placement="right" title="For account purposes">Email <i class="fa fa-question-circle-o" aria-hidden="true"></i></label>
                        <input class="form-control" type="email" name="email" placeholder="email" required>
                    </div>
                    <div class="form-group">
                        <label for="username" data-toggle="tooltip" data-placement="right" title="Your profile display name">Username <i class="fa fa-question-circle-o" aria-hidden="true"></i></label>
                        <input class="form-control" type="text" name="username" placeholder="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password" data-toggle="tooltip" data-placement="right" title="A password - duh!">Password</label>
                        <input class="form-control" type="password" name="password" placeholder="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" id="modal-register-btn">Register</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <% if(error && error.length > 0){ %>
              <div class="alert alert-danger alert-dismissable fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= error %>
              </div>
          <% } %>
          <% if(success && success.length > 0){ %>
              <div class="alert alert-success alert-dismissable fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= success %>
              </div>
          <% } %>
        </div>
