<% include ./partials/header %>

<% if(!currentUser) { %>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">LiteNote</h1>
            <p class="lead">Welcome to LiteNote, the lightweight note-taking, checklist-marking, and reminder-making web app!</p>
            <hr class="my-4">
            <p>
                LiteNote was designed to be as simple, intuitive, and easy to use as possible. We want you to be able to jump in,
                jot down any notes or to-dos that you need, set a reminder for yourself, and get back out into the world.
            </p>
        </div>
    </div>
<% } else { %>
    <!-- user input -->
    <!--<form id="new-note-form" action="/notes" method="POST">-->
    <!--    <div class="form-group">-->
    <!--        <input type="text" class="form-control" placeholder="What's on your mind?" name="note[text]"></input>-->
    <!--    </div>-->
    <!--</form>-->
    
    <!-- content -->
    <div class="container-fluid">
        <div class="row" id="note-row">
            <div class="col-md-2" id="user-input">
                <div class="card">
                    <div class="card-block">
                        <form id="new-note-form" action="/notes" method="POST">
                            <textarea placeholder="What's on your mind?" name="note[text]"></textarea>
                            <div class="text-right">
                                <button type="submit" class="btn btn-secondary btn-sm">Done</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <% notes.forEach(function(note) { %>
                <% if(note.author.id.equals(currentUser._id)) { %>
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-block">
                                <div class="text-right">
                                    <button type="submit" class="btn btn-secondary btn-sm delete-card-btn" data-id="<%= note._id %>">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <p class="card-text <%= note._id %>"><%= note.text %></p>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }); %>
        </div>
    </div>
<% } %>

<% include ./partials/footer %>