<% include ./partials/header %>

<% if(!currentUser) { %>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">LiteNote <i class="fa fa-sticky-note-o" aria-hidden="true"></i></h1>
            <p class="lead">The lightweight note-taking, checklist-marking, and reminder-making web app!</p>
            <hr class="my-4">
            <ul class="jumbotron-ul">
                Newest features:
                <li>In-place editing of note cards</li>
            </ul>
            <ul class="jumbotron-ul" id="upcoming-features">
                Upcoming features:
                <li>Proper checklist/todo for note cards</li>
                <li>A reminder feature that will send you an alert/reminder via your email</li>
            </ul>
        </div>
    </div>
<% } else { %>
    <!-- user input -->
    <!--<form id="new-note-form" action="/notes" method="POST">-->
    <!--    <div class="form-group">-->
    <!--        <input type="text" class="form-control" placeholder="What's on your mind?" name="note[text]"></input>-->
    <!--    </div>-->
    <!--</form>-->

    <!-- content -->
    <a name="toTop">
    <div class="container-fluid">
        <div class="row" id="note-row">
            <div class="col-md-2" id="user-input">
                <div class="card">
                    <div class="card-block">
                        <form id="new-note-form" action="/notes" method="POST">
                            <!-- <div class="note-content" id="new-note-content" contenteditable="true" data-placeholder="What's on your mind?"></div> -->
                            <textarea id="new-note-content" placeholder="What's on your mind?" name="note[text]"></textarea>
                            <div class="text-right new-note-btns">
                                <button type="button" class="btn btn-secondary btn-sm checklist-btn"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
                                <button type="submit" class="btn btn-secondary btn-sm" id="done-btn">Done</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <% notes.forEach(function(note) { %>
                <% if(note.author.id.equals(currentUser._id)) { %>
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-block">
                                <div class="text-right">
                                    <button type="submit" class="btn btn-secondary btn-sm delete-card-btn" data-id="<%= note._id %>">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <form class="edit-note-form" action="/notes/<%= note._id %>" method="POST">
                                    <!-- <div class="note-content" contenteditable="true"><- note.text %></div> -->
                                    <textarea class="note-content" name="note[text]"><%= note.text %></textarea>
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-secondary btn-sm update-btn">Done</button>
                                    </div>
                                </form>
                                <!--<p class="card-text <= note._id %>"><= note.text %></p>-->
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }); %>
            <!--<div class="enlarged-note">-->
            <!--    <textarea class="enlarged-textarea"></textarea>-->
            <!--</div>-->
        </div>
    </div>
<% } %>

<% include ./partials/footer %>
