body {
    padding-top: 70px;
    font-family: 'Assistant', serif;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    background-color: #FFFFA5;
    font-family: 'Assistant', serif;
}

.navbar {
    background-color: #fff;
    border: none;
}

.form-style {
    width: 30%;
    margin: 30px auto;
    /*text-align: center;*/
}

.login-header {
    text-align: center;
}

/*.col-md-2 {
    margin-bottom: 15px;
}*/

.col-sm-6 {
  margin-bottom: 15px;
}

.col-md-4 {
  margin-bottom: 15px;
}

.col-lg-3 {
  margin-bottom: 15px;
}

/*.new-note-form {
  padding: 0.50em;
}*/

.delete-card-btn {
    border: none;
    background-color: #FFFFA5;
}

.delete-card-btn:focus {
    box-shadow: none;
    /*-webkit-box-shadow: none;*/
}

.card {
    box-shadow: 8px 8px 20px #888888;
    background-color: #FFFFA5;
}

/*.card-block {
  padding: 0.50em;
}*/

.checklist-btn {
    background-color: #FFFFA5;
}

.reminder-btn {
    background-color: #FFFFA5;
}

.note-content {
    margin-bottom: 10px;
    height: auto;
    min-height: 75px;
    outline: none;
    /*color: rgba(70, 74, 76, 1);*/
    color: black;
}

/*.note-content:focus {*/
/*    background-color: rgba(25, 25, 25, .1);*/
/*}*/

.update-btn {
    display: none;
    background-color: #FFFFA5;
    margin-top: 10px;
}

/*.jumbotron-ul {
    display: inline-block;
}*/

.input-group {
  margin-bottom: 10px;
}

.new-note-text {
  background-color: #FFFFA5;
  margin-bottom: 10px;
}

.new-note-text:focus {
  background-color: #FFFFA5;
}

.note-text-input {
  background-color: #FFFFA5;
  margin-bottom: 10px;
  font-family: 'Assistant', serif;
  color: black;
}

.note-text-input:focus {
  background-color: #FFFFA5;
}

.input-group-addon {
  background-color: inherit;
}

.label-input {
    background-color: #FFFFA5;
}

.label-input:focus {
    background-color: #FFFFA5;
}

.label-input-btn {
    background-color: #FFFFA5;
}

.title-text {
  background-color: #FFFFA5;
  border: none;
  font-weight: bold;
  color: black;
}

.title-text:focus {
  background-color: #FFFFA5;
}

.reminder-field {
    display: none;
}

.more-options-btn {
    background-color: #FFFFA5;
    border: none;
    float: left;
}

.more-options-btn:focus {
    box-shadow: none;
    /*-webkit-box-shadow: none;*/
}

/* removes arrow on bootstrap dropdown */
/*.dropdown-toggle::after {*/
/*    display:none*/
/*}*/

.dropdown-toggle.more-options-btn::after {
    display: none;
}

.archive-hr {
    margin-bottom: 40px;
}

.forgot-hr {
    margin-bottom: 40px;
}

.reset-hr {
    margin-bottom: 40px;
}

#login-btn {
    margin-right: 10px;
}

#logout-btn {
    margin-left: 10px;
}

#upcoming-features {
    float: right;
}

#load-more-notes {
  margin: auto auto 25px auto;
  display: block;
}

#dropdownMenuButton {
    margin-left: 10px;
}

#checklist-btn {
  margin-left: 10px;
}

@media (max-width: 991px) {
    .jumbotron {
        height: 530px;
    }
}

@media (min-width: 576px) {
  .form-inline .form-control {
    width: 83%;
    margin-bottom: 20px;
  }

  .title-text {
    margin-right: 10px;
  }
}
