body {
    padding-top: 70px;
}

.navbar {
    background-color: #fff;
    border: none;
}

.thumbnail {
    text-align: center;
}

.form-style {
    width: 30%;
    margin: 30px auto;
    /*text-align: center;*/
}

.login-header {
    text-align: center;
}

.col-md-2 {
    margin-bottom: 15px;
}

.delete-card-btn {
    border: none;
}

.delete-card-btn:focus {
    box-shadow: none;
    /*-webkit-box-shadow: none;*/
}

#login-btn {
    margin-right: 10px;
}

#logout-btn {
    margin-left: 10px;
}

#new-note-form {
    margin-left: 20px;
    margin-right: 20px;
}