body {
    padding-top: 70px;
}

textarea {
    /*width: 100%;*/
    resize: none;
    border: none;
    overflow: auto;
    outline: none;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    background-color: #FFFFA5;
}

.navbar {
    background-color: #fff;
    border: none;
}

.thumbnail {
    text-align: center;
}

.form-style {
    width: 30%;
    margin: 30px auto;
    /*text-align: center;*/
}

.login-header {
    text-align: center;
}

.col-md-2 {
    margin-bottom: 15px;
}

.delete-card-btn {
    border: none;
    background-color: #FFFFA5;
}

.delete-card-btn:focus {
    box-shadow: none;
    /*-webkit-box-shadow: none;*/
}

.card {
    box-shadow: 8px 8px 20px #888888;
    background-color: #FFFFA5;
}

#login-btn {
    margin-right: 10px;
}

#logout-btn {
    margin-left: 10px;
}

#done-btn {
    background-color: #FFFFA5;
}